In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None) # show alll columns

------------

# Yelp API Capitales Estados

---------------

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Albany_graphQl_14.csv')

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Annapolis_graphQl_21.csv')

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Atlanta_graphQl_11.csv')

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Augusta_graphQl_3.csv')

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Austin_graphQl_15.csv')

In [ ]:
df6 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/BatonRouge_graphQl_1.csv')

In [ ]:
df7 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Bismarck_graphQl_1.csv')

In [ ]:
df8 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Boise_graphQl_13.csv')

In [ ]:
df9 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Boston_graphQl_11.csv')

In [ ]:
df10 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/CarsonCity_graphQl_5.csv')

In [ ]:
df11 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Charleston_graphQl_1.csv')

In [ ]:
df12 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Cheyenne_graphQl_1.csv')

In [ ]:
df13 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Columbia_graphQl_1.csv')

In [ ]:
df14 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Columbus_graphQl_9.csv')

In [ ]:
df15 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Denver_graphQl_19.csv')

In [ ]:
df16 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/DesMoines_graphQl_11.csv')

In [ ]:
df17 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Dover_graphQl_4.csv')

In [ ]:
df18 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Frankfort_graphQl_9.csv')

In [ ]:
df19 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Harrisburg_graphQl_21.csv')

In [ ]:
df20 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Hartford_graphQl_21.csv')

In [ ]:
df21 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Honolulu_graphQl_5.csv')

In [ ]:
df22 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Indianapolis_graphQl_17.csv')

In [ ]:
df23 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Jackson_graphQl_2.csv')

In [ ]:
df24 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/JeffersonCity_graphQl_3.csv')

In [ ]:
df25 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Lansing_graphQl_5.csv')

In [ ]:
# armar un nuevo dataframe A
dfA = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25,], axis=0, ignore_index=True)

In [ ]:
dfA.shape

(224, 10)

In [ ]:
dfA.head(5)

,id,name,alias,categories,location,coordinates,price,rating,review_count,reviews
0,qJ1kfVLwdTEQ_oRHmfaZaQ,Nine Pin Cider,nine-pin-cider-albany,"[{'title': 'Breweries', 'alias': 'breweries'},...","{'address1': '929 Broadway', 'city': 'Albany',...","{'latitude': 42.661892, 'longitude': -73.743767}",$$,4.5,128,"[{'id': '8XceajjIrZxLY4iInVwYZA', 'text': 'Oka..."
1,nl8KrEl4H9f1Wm1ry-46zA,Colvin Wine Merchants,colvin-wine-merchants-albany,"[{'title': 'Wineries', 'alias': 'wineries'}]","{'address1': '900D Central Ave', 'city': 'Alba...","{'latitude': 42.67993, 'longitude': -73.792262}",NaN,4.0,4,"[{'id': 'Ulrb-Hp8e5_KqoFehd_xGQ', 'text': 'The..."
2,QsBctI8bZlsCFzsSBQoyyg,The Bull and Bee - Meadery & Tasting Room,the-bull-and-bee-meadery-and-tasting-room-alba...,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '140 Hamilton St', 'city': 'Alban...","{'latitude': 42.647415, 'longitude': -73.757309}",NaN,5.0,9,"[{'id': '1dMR8uxvSeFtktWR6ri6PA', 'text': 'Coo..."
3,sPSQqvYmQI4elOdiLbqxmA,SABBA Vineyard,sabba-vineyard-old-chatham-3,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '383 Pitts Rd', 'city': 'Old Chat...","{'latitude': 42.46964, 'longitude': -73.57555}",NaN,5.0,12,"[{'id': 'BHaaWQJRDs2wCYHN170tPg', 'text': ""Sab..."
4,YFhxiIoI-N5T_S8CeMUIvQ,Galway Rock Vineyard and Winery,galway-rock-vineyard-and-winery-ballston-lake,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '998 Saratoga Rd', 'city': 'Balls...","{'latitude': 42.9369, 'longitude': -73.87441}",NaN,4.5,20,"[{'id': 'pJ0VpT2G5nCFkgKTdF3URg', 'text': 'Gre..."

In [ ]:
dfA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            224 non-null    object
 1   name          224 non-null    object
 2   alias         224 non-null    object
 3   categories    224 non-null    object
 4   location      224 non-null    object
 5   coordinates   223 non-null    object
 6   price         135 non-null    object
 7   rating        224 non-null    float64
 8   review_count  224 non-null    int64
 9   reviews       224 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 17.6+ KB

In [ ]:
df26 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Lincoln_graphQl_9.csv')

In [ ]:
df27 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/LittleRock_graphQl_2.csv')

In [ ]:
df28 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Madison_graphQl_12.csv')

In [ ]:
df29 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Montpelier_graphQl_5.csv')

In [ ]:
df30 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Nashville_graphQl_9.csv')

In [ ]:
df31 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/OklahomaCity_graphQl_10.csv')

In [ ]:
df32 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Olympia_graphQl_11.csv')

In [ ]:
df33 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Phoenix_graphQl_25.csv')

In [ ]:
df34 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Providence_graphQl_15.csv')

In [ ]:
df35 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Raleigh_graphQl_12.csv')

In [ ]:
df36 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Richmond_graphQl_7.csv')

In [ ]:
df37 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Sacramento_graphQl_17.csv')

In [ ]:
df38 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/SaintPaul_graphQl_12.csv')

In [ ]:
df39 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Salem_graphQl_15.csv')

In [ ]:
df40 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/SaltLakeCity_graphQl_4.csv')

In [ ]:
df41 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/SantaFe_graphQl_6.csv')

In [ ]:
df42 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Springfield_graphQl_5.csv')

In [ ]:
df43 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Topeka_graphQl_4.csv')

In [ ]:
df44 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Trenton_graphQl_33.csv')

In [ ]:
df45 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/CapitalesEstados/Concord_graphQl_15.csv')

In [ ]:
# armar un nuevo dataframe B
dfB = pd.concat([df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45], axis=0, ignore_index=True)

In [ ]:
dfB.shape

(228, 10)

In [ ]:
# armar un nuevo dataframe df
df = pd.concat([dfA, dfB], axis=0, ignore_index=True)

In [ ]:
df.shape

(452, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            452 non-null    object
 1   name          452 non-null    object
 2   alias         452 non-null    object
 3   categories    452 non-null    object
 4   location      452 non-null    object
 5   coordinates   451 non-null    object
 6   price         275 non-null    object
 7   rating        452 non-null    float64
 8   review_count  452 non-null    int64
 9   reviews       452 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 35.4+ KB

In [ ]:
df.sample(5)

,id,name,alias,categories,location,coordinates,price,rating,review_count,reviews
409,-nXZLIhPQcYYJiLI3weqGQ,Hopewell Valley Vineyards,hopewell-valley-vineyards-pennington,"[{'title': 'Wineries', 'alias': 'wineries'}]","{'address1': '46 Yard Rd', 'city': 'Pennington...","{'latitude': 40.33789, 'longitude': -74.81006}",$$,4.0,151,"[{'id': 'ZY8zD0jz8S5rHXMxgD5QsA', 'text': 'Had..."
427,x-rj_toIlbfwnwfv138P4A,Angelico Winery,angelico-winery-lambertville,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '20 Hamp Rd', 'city': 'Lambertvil...","{'latitude': 40.4033351, 'longitude': -74.9392...",NaN,4.5,3,"[{'id': '_6rTjwD8aIfMNZnUZntPKA', 'text': 'Ser..."
196,ZrcEBZsXyodGXVXu7N5Q4Q,Ambrosia Wine Storage Hawaii,ambrosia-wine-storage-hawaii-honolulu,"[{'title': 'Wineries', 'alias': 'wineries'}]","{'address1': '1457 Kalanikai Pl', 'city': 'Hon...","{'latitude': 21.28211, 'longitude': -157.77173}",NaN,5.0,1,"[{'id': 'bnqA78IT8q_ajNLxVcYkQw', 'text': 'We ..."
214,PuIMxrqbGgtXxrzpLCUfVQ,Old Canton Rd Wine & Liquor,old-canton-rd-wine-and-liquor-ridgeland,"[{'title': 'Beer, Wine & Spirits', 'alias': 'b...","{'address1': '6562 Old Canton Rd', 'city': 'Ri...","{'latitude': 32.4013976, 'longitude': -90.1084...",$$,5.0,1,"[{'id': 'YHrmOO4IqJOnfKlxBpanEQ', 'text': 'Thi..."
61,4zPHBCxp_ywrzVbAqiS4UA,Benny’s Wine Tours,benny-s-wine-tours-llano,"[{'title': 'Airport Shuttles', 'alias': 'airpo...","{'address1': None, 'city': 'Llano', 'state': '...","{'latitude': 30.69029630388098, 'longitude': -...",NaN,5.0,3,"[{'id': 'xpCdmYXptzqV-x-IMu6M5Q', 'text': ""The..."

In [ ]:
df['reviews'][0]

'[{\'id\': \'8XceajjIrZxLY4iInVwYZA\', \'text\': \'Okay OBSESSED that they have the option for a cider flight. My absolute favorite part but in strong competition with how delicious their food was! We had...\', \'rating\': 5, \'user\': {\'id\': \'ZVfGfOXYINJCPPy_2sa84A\', \'name\': \'Natasha M.\'}}, {\'id\': \'QVqBdabfJu3rtu-bSKrokQ\', \'text\': "Great spot. Went over this weekend for the first time since I was in the area. There was a private event outside so didn\'t get to experience the outdoor...", \'rating\': 5, \'user\': {\'id\': \'TkF0AEun4ccvALZqX_R-7A\', \'name\': \'Nick K.\'}}, {\'id\': \'GAs683P_hsfm-H_c-k3vZQ\', \'text\': \'Ordered a goat cheese and pesto pizza and a Buffalo mac and cheese empanada. Had a standard and a blueberry hard cider. Everything was very good. Nice...\', \'rating\': 5, \'user\': {\'id\': \'SsSsaM8URKx0VAhXDBfXhA\', \'name\': \'David G.\'}}]'

In [ ]:
df.rename({'id': 'business_id'}, axis=1, inplace=True)

In [ ]:
# crear dataframe Yelp Business Capitales
df.to_parquet('Yelp_Business_Capitales.parquet', index=False)

-----------

# Yelp API Otras Ciudades

-----------------

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Carpinteria_graphQl_5.csv')

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/ChaddsFord_graphQl_9.csv')

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/ClearWater_graphQl_6.csv')

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Eugene_graphQl_22.csv')

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/GardenCity_graphQl_37.csv')

In [ ]:
df6 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Geyserville_graphQl_196.csv')

In [ ]:
df7 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Goleta_graphQl_7.csv')

In [ ]:
df8 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Hammonton_graphQl_8.csv')

In [ ]:
df9= pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/KennettSquare_graphQl_9.csv')

In [ ]:
df10 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/LosAngeles_graphQl_19.csv')

In [ ]:
df11 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Napa_graphQl_258.csv')

In [ ]:
df12 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/NewHope_graphQl_13.csv')

In [ ]:
df13 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/NewOrleans_graphQl_3.csv')

In [ ]:
df14 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/NewYork_graphQl_28.csv')

In [ ]:
df15 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/PalmHarbor_graphQl_6.csv')

In [ ]:
df16 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/PasoRobles_graphQl_155.csv')

In [ ]:
df17 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Philadelphia_graphQl_4.csv')

In [ ]:
df18 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Phoenixville_graphQl_5.csv')

In [ ]:
df19 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Portland_graphQl_56.csv')

In [ ]:
df20 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Reno_graphQl_6.csv')

In [ ]:
df21 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SaintLouis_graphQl_16.csv')

In [ ]:
df22 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SaintPetersburg_graphQl_7.csv')

In [ ]:
df23 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/San Diego_graphQl_39.csv')

In [ ]:
df24 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SanFrancisco_graphQl_51.csv')

In [ ]:
df25 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SanJose_graphQl_19.csv')

In [ ]:
df26 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SanatBarbara_graphQl_43.csv')

In [ ]:
df27 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SantaRosa_graphQl_103.csv')

In [ ]:
df28 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Seattle_graphQl_50.csv')

In [ ]:
df29 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/SpringHill_graphQl_7.csv')

In [ ]:
df30 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Swedesboro_graphQl_6.csv')

In [ ]:
df31 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Tampa_graphQl_21.csv')

In [ ]:
df32 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Tucson_graphQl_6.csv')

In [ ]:
df33 = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/API/OtrasCiudades/Zionsville_graphQl_16.csv')

In [ ]:
# armar un nuevo dataframe A
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33], axis=0, ignore_index=True)

In [ ]:
df.rename({'id': 'business_id'}, axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1277 non-null   object
 1   name          1277 non-null   object
 2   alias         1277 non-null   object
 3   categories    1277 non-null   object
 4   location      1277 non-null   object
 5   coordinates   1277 non-null   object
 6   price         829 non-null    object
 7   rating        1277 non-null   float64
 8   review_count  1277 non-null   int64
 9   reviews       1277 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 99.9+ KB

In [ ]:
df.head()

,business_id,name,alias,categories,location,coordinates,price,rating,review_count,reviews
0,J3fd-eAmp4ttRTJbweTuGA,Rincon Mountain Winery Tasting Room,rincon-mountain-winery-tasting-room-carpinteria-7,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '4187 Carpinteria Ave', 'city': '...","{'latitude': 34.404023, 'longitude': -119.534743}",NaN,5.0,29,"[{'id': 'ApA8MU4aeLwNLvMWYZbS0Q', 'text': 'Rin..."
1,NDwoKO79_T49UEKVDlHd3A,Sustainable Wine Tours,sustainable-wine-tours-santa-barbara,"[{'title': 'Wine Tours', 'alias': 'winetours'}...","{'address1': '27 West Anapamu St', 'city': 'Sa...","{'latitude': 34.4224525, 'longitude': -119.705...",$$,5.0,462,"[{'id': 'FiOl9fePwtp0IJ4J6mCdyw', 'text': ""10 ..."
2,-lTb_iuYDXHbOkgsVA1L8g,Sunburst Wine Bar,sunburst-wine-bar-carpinteria,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '5080 Carpinteria Ave', 'city': '...","{'latitude': 34.39834, 'longitude': -119.51722}",NaN,4.5,12,"[{'id': 'R2r9RSD5tBCKPcwl2o2InA', 'text': 'Bes..."
3,cJXlIGy9SURm12lqHHnf-g,Summerland Winery,summerland-winery-summerland,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '2330 Lillie Ave', 'city': 'Summe...","{'latitude': 34.4216284, 'longitude': -119.599...",$$,4.0,160,"[{'id': 'YXsuQvay3w7zVPbSWYc4uQ', 'text': 'The..."
4,XTDt0E0BumV8zCs13ngXIQ,Kessler-Haak Vineyard And Wines,kessler-haak-vineyard-and-wines-lompoc-3,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '1700 Gypsy Canyon Dr', 'city': '...","{'latitude': 34.666449, 'longitude': -120.35469}",NaN,5.0,4,"[{'id': '_6fjpKF585L5xpuiZWfS8Q', 'text': 'Att..."

In [ ]:
# crear dataframe Yelp Business Capitales
df.to_parquet('Yelp_Business_Otras_Ciudades.parquet', index=False)

---------------

# Yelp API Business

-----------------------

In [ ]:
df1 = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/Yelp_Business_Capitales.parquet')

In [ ]:
df1.shape

(452, 10)

In [ ]:
df2 = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/Yelp_Business_Otras_Ciudades.parquet')

In [ ]:
df2.shape

(1277, 10)

In [ ]:
# armar un nuevo dataframe df
df = pd.concat([df1, df2], axis=0, ignore_index=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1729 entries, 0 to 1728
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1729 non-null   object
 1   name          1729 non-null   object
 2   alias         1729 non-null   object
 3   categories    1729 non-null   object
 4   location      1729 non-null   object
 5   coordinates   1728 non-null   object
 6   price         1104 non-null   object
 7   rating        1729 non-null   float64
 8   review_count  1729 non-null   int64
 9   reviews       1729 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 135.2+ KB

In [ ]:
df.sample(5)

,business_id,name,alias,categories,location,coordinates,price,rating,review_count,reviews
530,w3LzGSPzpeDlVE9FHgirWA,Old Library Wines & Liquors,old-library-wines-and-liquors-great-neck-2,"[{'title': 'Wineries', 'alias': 'wineries'}, {...","{'address1': '40 Great Neck Rd', 'city': 'Grea...","{'latitude': 40.7856878221024, 'longitude': -7...",$$,2.0,1,"[{'id': 'Fo2jbgCticQZcQZGXR_ONg', 'text': 'Thi..."
1142,5TW27aF9FZa-gmayB1bzXg,JUSTIN Downtown Tasting Room,justin-downtown-tasting-room-paso-robles,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '811 12th St', 'city': 'Paso Robl...","{'latitude': 35.627041, 'longitude': -120.6897...",None,4.0,139,"[{'id': 'FLjYpIe16TxsZJT2G74OWQ', 'text': 'You..."
1388,9YDsJ5OL1hkx_vqwlJhi_Q,Charlie & Echo,charlie-and-echo-san-diego-2,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '8680 Miralani Dr', 'city': 'San ...","{'latitude': 32.89655, 'longitude': -117.13743}",$$,4.5,23,"[{'id': 'BOFotXiIt4Im2pDoyioUiQ', 'text': 'Gre..."
991,O4PdhLBgX7mkVvLYYyuvlA,Y. Rousseau Wines,y-rousseau-wines-napa,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '902 Enterprise Way', 'city': 'Na...","{'latitude': 38.258487701416, 'longitude': -12...",None,5.0,2,"[{'id': '5TTJkWLWevArWuLPE_2f2Q', 'text': 'Wha..."
382,X-n2_k9zSJPJSJssDSntgw,The Bramble Tasting Room,the-bramble-tasting-room-amity,"[{'title': 'Wine Tasting Room', 'alias': 'wine...","{'address1': '100 5th St', 'city': 'Amity', 's...","{'latitude': 45.1156213134527, 'longitude': -1...",None,5.0,12,"[{'id': 'RD_xnQMlL-23a8u6HW491w', 'text': 'Lov..."

In [ ]:
# eliminar duplicados
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1594 non-null   object
 1   name          1594 non-null   object
 2   alias         1594 non-null   object
 3   categories    1594 non-null   object
 4   location      1594 non-null   object
 5   coordinates   1593 non-null   object
 6   price         1019 non-null   object
 7   rating        1594 non-null   float64
 8   review_count  1594 non-null   int64
 9   reviews       1594 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 124.7+ KB

In [ ]:
# crear dataframe API Business
df.to_parquet('API_Business.parquet', index=False)

----------------