In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install fastparquet

import numpy as np
import pandas as pd
import ast

pd.set_option('display.max_columns', None) # show alll columns

Collecting fastparquet
  Downloading fastparquet-2023.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 20.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from fastparquet) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.10/dist-packages (from fastparquet) (1.23.5)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 62.2 MB/s eta 0:00:00
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from fastparquet) (2023.6.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.7.0 fastparquet-2023.7.0

-----------------

# Corregir columna state

--------------

In [ ]:
dfBW = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/Business_Wine.parquet')

In [ ]:
dfBW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   3655 non-null   object
 1   name          3655 non-null   object
 2   address       3655 non-null   object
 3   city          3655 non-null   object
 4   state         3655 non-null   object
 5   postal_code   3655 non-null   object
 6   latitude      3655 non-null   float64
 7   longitude     3655 non-null   float64
 8   rating        3655 non-null   float32
 9   review_count  3655 non-null   int32
 10  categories    3655 non-null   object
dtypes: float32(1), float64(2), int32(1), object(7)
memory usage: 285.7+ KB

In [ ]:
dfBW.head(20)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,LA,T5J 1B9,53.546045,-113.499169,4.0,40,"Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re..."
1,lk9IwjZXqUMqqOhM774DtQ,Caviar & Bananas,2031 Broadway,Nashville,PA,37203,36.148371,-86.798895,3.5,159,"Coffee & Tea, Restaurants, Wine Bars, Bars, Ni..."
2,7clCBgNbd-x2Wj96lZ6Mjw,Bier Brewery and Tap Room,5133 E 65th St,Indianapolis,AZ,46220,39.875532,-86.082857,4.5,139,"Food, Beer, Wine & Spirits, Breweries"
3,YNjyv0gfOr2g8lbmUpTnKg,Copper Vine,1001 Poydras St,New Orleans,PA,70112,29.950647,-90.074427,4.5,350,"Nightlife, Pubs, Event Planning & Services, Wi..."
4,VrGxoSNZfSiT-G4OqRRGIw,Sunset 44 Bistro,118 W Adams Ave,Saint Louis,PA,63122,38.583223,-90.407187,4.0,73,"Bars, Lounges, American (New), Restaurants, Ni..."
5,sB45WFgysT617bKWP_WJwA,Budweiser Brewery Experience,1200 Lynch St,Saint Louis,PA,63118,38.600197,-90.213538,4.5,605,"Bars, Beer Gardens, Food, Breweries, Nightlife..."
6,SZU9c8V2GuREDN5KgyHFJw,Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,TN,93101,34.408715,-119.685019,4.0,2404,"Live/Raw Food, Restaurants, Seafood, Beer Bar,..."
7,PYW8Buz8S8LpjIe6mZTAcw,Payless Liquors,954 N State Rd 135,Greenwood,CA,46143,39.632280,-86.158674,3.5,13,"Food, Beer, Wine & Spirits"
8,3S9GYtMOYhbZl4MMPOHT0Q,The Handlebar Boise,1519 W Main St,Boise,MO,83702,43.620010,-116.212790,4.5,34,"Bars, Wine Bars, Nightlife, Beer Bar"
9,JF7iyI3wA_AKi_iXOKi0Qw,Parlor Suburban Square,30 Parking Plz,Ardmore,PA,19003,40.008645,-75.288802,3.5,61,"Italian, Pizza, Gluten-Free, Restaurants, Bars..."
10,rZw9O5lJ36m_mXeRKE4G9A,La Sponda,20 E Lancaster Ave,Downingtown,IN,19335,40.006208,-75.704451,4.5,29,"Italian, Restaurants, Salad, Bars, Venues & Ev..."
11,IOZrqUQ2Jg6UeQ5CWpsmkg,Nesbit's Magazine Street Market,301 Magazine St,New Orleans,LA,70130,29.950477,-90.067944,5.0,7,"Convenience Stores, Food, Grocery, Coffee & Te..."
12,x9xBKymj6CJ2WuCCFInb7g,Fine Wine & Good Spirits,"12 E Hinckley Ave, Ridley Pk",Chester,PA,19078,39.879079,-75.322792,3.5,8,"Food, Beer, Wine & Spirits"
13,cDekcTE1qwpz8ROlYixhqg,Philly Homebrew Outlet East,1447 N American St,Philadelphia,PA,19122,39.973681,-75.139648,5.0,32,"Shopping, Food, Arts & Entertainment, Wholesal..."
14,bf34LpGej_MZbOlAKB1beQ,Sherbrooke Liquor Store,11819 Saint Albert Trail NW,Edmonton,PA,T5L 5B5,53.571086,-113.548768,4.5,77,"Beer, Wine & Spirits, Food"
15,SBgr-5n-kV3EeZztYsstUQ,Locust Lane Craft Brewery,"50 Three Tun Rd, Ste 4",Malvern,AZ,19355,40.035282,-75.555260,4.5,29,"Bars, Breweries, Beer Tours, Tours, Food, Hote..."
16,kfGz2E7Y5FLXJyiKbQYfZg,The Irish Times,629 S 2nd St,Philadelphia,AZ,19147,39.940374,-75.145611,3.5,44,"Nightlife, Bars, Beer, Wine & Spirits, Pubs, I..."
17,Q-a-DzqRufrPL6EcUDpyag,Dierbergs Markets,2021 Zumbehl Rd,Saint Charles,MO,63303,38.782531,-90.534640,3.5,23,"Beer, Wine & Spirits, Shopping, Flowers & Gift..."
18,PdMXmOWDRHICAx6SLgu1dQ,24,2401 Walnut St,Philadelphia,FL,19103,39.951521,-75.179873,3.5,111,"Italian, Bars, Restaurants, Nightlife, Wine Ba..."
19,sWCCxY1-9B1FGlSVeQvnHg,CD Roma Restaurant,1462 66th St N,St Petersburg,FL,33710,27.785489,-82.730295,4.0,125,"Restaurants, Wine Bars, Italian, Food, Sandwic..."

In [ ]:
# obtener lista coordenadas
dfCordinates = dfBW[['latitude', 'longitude']]

In [ ]:
#
dfCordinates = dfCordinates.apply(lambda x: ','.join((x.astype(str)).unique()), axis=1)

In [ ]:
# lista coordenadas latitud longitud separadas por coma
listA = dfCordinates.to_list()

In [ ]:
len(listA)

3655

In [ ]:
# Get State
# import module
from geopy.geocoders import Nominatim

# initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

# Input
#Latitude = "36.189110"
#Longitude = "-86.408449"

result=[] # result - guarda el resultado

for i in listA: # recorrer lista de coordenadas
  #location = geolocator.reverse(Latitude+","+Longitude)
  location = geolocator.reverse(i)

  address = location.raw['address']

  # Get Data
  #city = address.get('town', '')
  #state = address.get('state', '')
  #country = address.get('country', '')
  #code = address.get('country_code')
  #zipcode = address.get('postcode')
  state = address.get('state', '') # state - consigue el estado

  result.append(state) # lista de resultados

  print('registro: ', listA.index(i), 'coordenadas: ', i, 'estado : ', state,) # verificar respuestas

In [ ]:
len(result)

3655

In [ ]:
# estados obtenidos
dfState = pd.DataFrame(result)

In [ ]:
dfState.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3655 non-null   object
dtypes: object(1)
memory usage: 28.7+ KB

In [ ]:
dfState.head()

           0
0    Alberta
1  Tennessee
2    Indiana
3  Louisiana
4   Missouri

In [ ]:
# crear dataframe estados obtenidos
dfState.to_csv('State_Business_Wine.csv', index=False)

### reemplazar campo

In [ ]:
dfState = pd.read_csv('/content/drive/MyDrive/DataYelpGoogle/Yelp/State_Business_Wine.csv')

In [ ]:
dfState.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3655 non-null   object
dtypes: object(1)
memory usage: 28.7+ KB

In [ ]:
dfState.head()

           0
0    Alberta
1  Tennessee
2    Indiana
3  Louisiana
4   Missouri

In [ ]:
# reemplazar columna state
dfBW['state'] = dfState['0']

In [ ]:
dfBW.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,rating,review_count,categories
0,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,Alberta,T5J 1B9,53.546045,-113.499169,4.0,40,"Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re..."
1,lk9IwjZXqUMqqOhM774DtQ,Caviar & Bananas,2031 Broadway,Nashville,Tennessee,37203,36.148371,-86.798895,3.5,159,"Coffee & Tea, Restaurants, Wine Bars, Bars, Ni..."
2,7clCBgNbd-x2Wj96lZ6Mjw,Bier Brewery and Tap Room,5133 E 65th St,Indianapolis,Indiana,46220,39.875532,-86.082857,4.5,139,"Food, Beer, Wine & Spirits, Breweries"
3,YNjyv0gfOr2g8lbmUpTnKg,Copper Vine,1001 Poydras St,New Orleans,Louisiana,70112,29.950647,-90.074427,4.5,350,"Nightlife, Pubs, Event Planning & Services, Wi..."
4,VrGxoSNZfSiT-G4OqRRGIw,Sunset 44 Bistro,118 W Adams Ave,Saint Louis,Missouri,63122,38.583223,-90.407187,4.0,73,"Bars, Lounges, American (New), Restaurants, Ni..."

In [ ]:
dfBW['state'].unique()

array(['Alberta', 'Tennessee', 'Indiana', 'Louisiana', 'Missouri',
       'California', 'Idaho', 'Pennsylvania', 'Florida', 'Delaware',
       'Arizona', 'New Jersey', 'Illinois', 'Nevada'], dtype=object)

In [ ]:
dfBW['city'].nunique()

388

In [ ]:
dfBW[dfBW['state']=='Pennsylvania']['city'].unique()

array(['Ardmore', 'Downingtown', 'Chester', 'Philadelphia', 'Malvern',
       'North Wales', 'Collingdale', 'Montgomeryville', 'Harleysville',
       'Darby', 'New Hope', 'King of Prussia', 'Wayne', 'Bensalem',
       'East Norriton', 'Drexel Hill', 'West Chester', 'Glen Mills',
       'Spring City', 'Lahaska', 'Exton', 'Bala Cynwyd', 'Bristol',
       'Langhorne', 'Quakertown', 'Fairless Hills', 'Frazer',
       'Norristown', 'Glenolden', 'Phoenixville', 'Glenside',
       'Doylestown', 'Upper Darby', 'Thorndale', 'Kennett Square',
       'Jenkintown', 'Pottstown', 'Boyertown', 'Newtown', 'Springfield',
       'Berwyn', 'Feasterville Trevose', 'Bridgeport', 'Chalfont',
       'Feasterville', 'Toughkenamon', 'Collegeville', 'Chester Springs',
       'Chadds Ford', 'Spring House', 'Skippack', 'Newtown Square',
       'Conshohocken', 'Kulpsville', 'Parkside', 'Plumsteadville',
       'Warrington', 'Abington', 'Philadephia', 'Eddystone', 'Hatboro',
       'Narberth', 'Media', 'King Of Prussia', 'Radnor', 'Southampton',
       'Glenoldan', 'Warminster', 'Clifton Heights', 'Colmar',
       'Havertown', 'Prospect Park', 'Blue Bell', 'Ambler', 'Wyncote',
       'Limerick', 'Lafayette Hill', 'Jamison', 'Richboro', 'Morton',
       'Royersford', 'Schwenksville', 'Willow Grove', 'Bryn Mawr',
       'Lansdale', 'Fox Street', 'Yardley', 'Conshohoeken',
       'Fort Washington', 'Gilbertsville', 'Swarthmore', 'Aston',
       'Brookhaven', 'Red Hill', 'Levittown', 'Thornton', 'Manayunk',
       'Horsham', 'Dresher', 'Buckingham', 'Paoli', 'Penndel', 'Hatfield',
       'Woodlyn', 'Newportville', 'Furlong', 'Perkiomenville', 'Broomall',
       'Avondale', 'Coatesville', 'Souderton', 'West Point',
       'Pipersville', 'Perkasie', 'Feasterville-Trevose', 'Wyndmoor',
       'Telford', 'Fallsington', 'Huntingdon Valley', 'Lansdowne'],
      dtype=object)

In [ ]:
dfBW[dfBW['state']=='California']['city'].unique()

array(['Santa Barbara', 'Goleta', 'Montecito', 'Carpinteria',
       'Port Hueneme', 'Isla Vista', 'Summerland', 'Santa Maria'],
      dtype=object)

In [ ]:
# alternativa replace values column
#pandas.DataFrame.loc[condition, column_label] = new_value

In [ ]:
# reemplazar nombre por abreviatura
dfBW['state'] = dfBW['state'].map({'Alberta':'AB',
                             'Tennessee':'TN',
                             'Indiana':'IN',
                             'Louisiana':'LA',
                             'Missouri':'MO',
                             'California':'CA',
                             'Idaho':'ID',
                             'Pennsylvania':'PA',
                             'Florida':'FL',
                             'Delaware':'DE',
                             'Arizona':'AZ',
                             'New Jersey':'NJ',
                             'Illinois':'IL',
                             'Nevada':'NV'})

In [ ]:
# renombrar rating
dfBW.rename({'stars': 'rating'}, axis=1, inplace=True)

In [ ]:
dfBW.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,rating,review_count,categories
0,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,"Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re..."
1,lk9IwjZXqUMqqOhM774DtQ,Caviar & Bananas,2031 Broadway,Nashville,TN,37203,36.148371,-86.798895,3.5,159,"Coffee & Tea, Restaurants, Wine Bars, Bars, Ni..."
2,7clCBgNbd-x2Wj96lZ6Mjw,Bier Brewery and Tap Room,5133 E 65th St,Indianapolis,IN,46220,39.875532,-86.082857,4.5,139,"Food, Beer, Wine & Spirits, Breweries"
3,YNjyv0gfOr2g8lbmUpTnKg,Copper Vine,1001 Poydras St,New Orleans,LA,70112,29.950647,-90.074427,4.5,350,"Nightlife, Pubs, Event Planning & Services, Wi..."
4,VrGxoSNZfSiT-G4OqRRGIw,Sunset 44 Bistro,118 W Adams Ave,Saint Louis,MO,63122,38.583223,-90.407187,4.0,73,"Bars, Lounges, American (New), Restaurants, Ni..."

In [ ]:
# crear nuevo dataframe
dfBW.to_parquet('Business_ETL.parquet', index=False)

---------------

# API Business

-----------------------

In [ ]:
dfAB = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/API_Business.parquet', columns=['business_id',	'name',	'location', 'coordinates', 'rating',	'review_count', 'categories'])

In [ ]:
dfAB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1594 non-null   object
 1   name          1594 non-null   object
 2   location      1594 non-null   object
 3   coordinates   1593 non-null   object
 4   rating        1594 non-null   float64
 5   review_count  1594 non-null   int64
 6   categories    1594 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 87.3+ KB

In [ ]:
dfAB.isna().sum()

business_id     0
name            0
location        0
coordinates     1
rating          0
review_count    0
categories      0
dtype: int64

In [ ]:
# imputar valor nulo
dfAB['coordinates'].fillna("{'latitude': 0, 'longitude': 0}", inplace=True)

In [ ]:
dfAB.head()

,business_id,name,location,coordinates,rating,review_count,categories
0,qJ1kfVLwdTEQ_oRHmfaZaQ,Nine Pin Cider,"{'address1': '929 Broadway', 'city': 'Albany',...","{'latitude': 42.661892, 'longitude': -73.743767}",4.5,128,"[{'title': 'Breweries', 'alias': 'breweries'},..."
1,nl8KrEl4H9f1Wm1ry-46zA,Colvin Wine Merchants,"{'address1': '900D Central Ave', 'city': 'Alba...","{'latitude': 42.67993, 'longitude': -73.792262}",4.0,4,"[{'title': 'Wineries', 'alias': 'wineries'}]"
2,QsBctI8bZlsCFzsSBQoyyg,The Bull and Bee - Meadery & Tasting Room,"{'address1': '140 Hamilton St', 'city': 'Alban...","{'latitude': 42.647415, 'longitude': -73.757309}",5.0,9,"[{'title': 'Wine Tasting Room', 'alias': 'wine..."
3,sPSQqvYmQI4elOdiLbqxmA,SABBA Vineyard,"{'address1': '383 Pitts Rd', 'city': 'Old Chat...","{'latitude': 42.46964, 'longitude': -73.57555}",5.0,12,"[{'title': 'Wine Tasting Room', 'alias': 'wine..."
4,YFhxiIoI-N5T_S8CeMUIvQ,Galway Rock Vineyard and Winery,"{'address1': '998 Saratoga Rd', 'city': 'Balls...","{'latitude': 42.9369, 'longitude': -73.87441}",4.5,20,"[{'title': 'Wine Tasting Room', 'alias': 'wine..."

In [ ]:
dfAB['location'][0]

"{'address1': '929 Broadway', 'city': 'Albany', 'state': 'NY', 'country': 'US'}"

In [ ]:
dfAB['coordinates'][0]

"{'latitude': 42.661892, 'longitude': -73.743767}"

In [ ]:
dfAB['categories'][0]

"[{'title': 'Breweries', 'alias': 'breweries'}, {'title': 'Wine Tasting Room', 'alias': 'winetastingroom'}, {'title': 'Cideries', 'alias': 'cideries'}]"

# extraer datos anidados

In [ ]:
# funcion extraer datos anidados diccionarios
def GetDataDict(x):
  if pd.isnull(x):
    return np.nan
  else:
    val=ast.literal_eval(x)
    if isinstance(val, dict):
      return val
    else:
      return x

In [ ]:
# invocar funcion GetDataDictCity
dfAB['location'] = dfAB['location'].apply(GetDataDict)

In [ ]:
# extraer city
dfAB['address'] = dfAB['location'].apply(lambda x: x['address1'])

In [ ]:
# extraer city
dfAB['city'] = dfAB['location'].apply(lambda x: x['city'])

In [ ]:
# extraer state
dfAB['state'] = dfAB['location'].apply(lambda x: x['state'])

In [ ]:
# invocar funcion GetDataDictCity
dfAB['coordinates'] = dfAB['coordinates'].apply(GetDataDict)

In [ ]:
# extraer latitude
dfAB['latitude'] = dfAB['coordinates'].apply(lambda x: x['latitude'])

In [ ]:
# extraer longitude
dfAB['longitude'] = dfAB['coordinates'].apply(lambda x: x['longitude'])

In [ ]:
dfAB.sample(5)

,business_id,name,location,coordinates,rating,review_count,categories,address,city,state,latitude,longitude
1116,UaKjpYB51pA4oP9HmpeHpw,Kaleidos,"{'address1': '3075 Blue Rock Rd', 'city': 'Pas...","{'latitude': 35.5754063681116, 'longitude': -1...",4.5,21,"[{'title': 'Wineries', 'alias': 'wineries'}]",3075 Blue Rock Rd,Paso Robles,CA,35.575406,-120.689614
1081,xI6XZYrRFrIA0yYT6i_uZA,Pianetta Winery,"{'address1': '829 13th St', 'city': 'Paso Robl...","{'latitude': 35.6279667, 'longitude': -120.689...",4.5,67,"[{'title': 'Wineries', 'alias': 'wineries'}]",829 13th St,Paso Robles,CA,35.627967,-120.689361
1319,Kl_w3gfumgHp9TtzNsK5DQ,Carruth Cellar Wine Garden,"{'address1': '2215 Kettner Blvd', 'city': 'San...","{'latitude': 32.727476, 'longitude': -117.1707...",5.0,1,"[{'title': 'Wine Tasting Room', 'alias': 'wine...",2215 Kettner Blvd,San Diego,CA,32.727476,-117.170708
458,U_gjhQ9phwKEqLurPlehuQ,Chaddsford Winery,"{'address1': '632 Baltimore Pike', 'city': 'Ch...","{'latitude': 39.87285, 'longitude': -75.6263}",3.5,202,"[{'title': 'Wineries', 'alias': 'wineries'}]",632 Baltimore Pike,Chadds Ford,PA,39.872850,-75.626300
85,yexp-J8-nqjnht0xM2kAyQ,The Wine Emporium,"{'address1': '474 Columbus Ave', 'city': 'Bost...","{'latitude': 42.34301840914558, 'longitude': -...",3.5,31,"[{'title': 'Beer, Wine & Spirits', 'alias': 'b...",474 Columbus Ave,Boston,MA,42.343018,-71.078455

In [ ]:
# funcion extraer datos anidados lista de diccionarios
def GetDataListDict(x):
  if pd.isnull(x):
    return np.nan
  else:
    val=ast.literal_eval(x)
    if isinstance(val, list):
      return val
    else:
      return x

In [ ]:
# invocar funcion GetDataListDict
dfAB['categories'] = dfAB['categories'].apply(GetDataListDict)

In [ ]:
#[dfAB['categories'][2][i]['title'] for i in range(0,len(dfAB['categories'][2]))]

In [ ]:
# extraer tilte categorias
dfAB['categories'] = dfAB['categories'].apply(lambda x: [x[i]['title'] for i in range(0,len(x))])

In [ ]:
# convertir lista a string
dfAB['categories_string'] = dfAB['categories'].apply(lambda x: ', '.join(map(str, x)))

In [ ]:
dfAB.head()

,business_id,name,location,coordinates,rating,review_count,categories,address,city,state,latitude,longitude,categories_string
0,qJ1kfVLwdTEQ_oRHmfaZaQ,Nine Pin Cider,"{'address1': '929 Broadway', 'city': 'Albany',...","{'latitude': 42.661892, 'longitude': -73.743767}",4.5,128,"[Breweries, Wine Tasting Room, Cideries]",929 Broadway,Albany,NY,42.661892,-73.743767,"Breweries, Wine Tasting Room, Cideries"
1,nl8KrEl4H9f1Wm1ry-46zA,Colvin Wine Merchants,"{'address1': '900D Central Ave', 'city': 'Alba...","{'latitude': 42.67993, 'longitude': -73.792262}",4.0,4,[Wineries],900D Central Ave,Albany,NY,42.679930,-73.792262,Wineries
2,QsBctI8bZlsCFzsSBQoyyg,The Bull and Bee - Meadery & Tasting Room,"{'address1': '140 Hamilton St', 'city': 'Alban...","{'latitude': 42.647415, 'longitude': -73.757309}",5.0,9,"[Wine Tasting Room, Meaderies]",140 Hamilton St,Albany,NY,42.647415,-73.757309,"Wine Tasting Room, Meaderies"
3,sPSQqvYmQI4elOdiLbqxmA,SABBA Vineyard,"{'address1': '383 Pitts Rd', 'city': 'Old Chat...","{'latitude': 42.46964, 'longitude': -73.57555}",5.0,12,"[Wine Tasting Room, Venues & Event Spaces]",383 Pitts Rd,Old Chatham,NY,42.469640,-73.575550,"Wine Tasting Room, Venues & Event Spaces"
4,YFhxiIoI-N5T_S8CeMUIvQ,Galway Rock Vineyard and Winery,"{'address1': '998 Saratoga Rd', 'city': 'Balls...","{'latitude': 42.9369, 'longitude': -73.87441}",4.5,20,"[Wine Tasting Room, Venues & Event Spaces]",998 Saratoga Rd,Ballston Lake,NY,42.936900,-73.874410,"Wine Tasting Room, Venues & Event Spaces"

In [ ]:
# crear columna postal code - sin dato
dfAB['postal_code'] = ''

In [ ]:
dfAB = dfAB[['business_id',	'name',	'address',	'city',	'state',	'postal_code',	'latitude',	'longitude',	'rating',	'review_count',	'categories_string']]

In [ ]:
dfAB.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,rating,review_count,categories_string
0,qJ1kfVLwdTEQ_oRHmfaZaQ,Nine Pin Cider,929 Broadway,Albany,NY,,42.661892,-73.743767,4.5,128,"Breweries, Wine Tasting Room, Cideries"
1,nl8KrEl4H9f1Wm1ry-46zA,Colvin Wine Merchants,900D Central Ave,Albany,NY,,42.679930,-73.792262,4.0,4,Wineries
2,QsBctI8bZlsCFzsSBQoyyg,The Bull and Bee - Meadery & Tasting Room,140 Hamilton St,Albany,NY,,42.647415,-73.757309,5.0,9,"Wine Tasting Room, Meaderies"
3,sPSQqvYmQI4elOdiLbqxmA,SABBA Vineyard,383 Pitts Rd,Old Chatham,NY,,42.469640,-73.575550,5.0,12,"Wine Tasting Room, Venues & Event Spaces"
4,YFhxiIoI-N5T_S8CeMUIvQ,Galway Rock Vineyard and Winery,998 Saratoga Rd,Ballston Lake,NY,,42.936900,-73.874410,4.5,20,"Wine Tasting Room, Venues & Event Spaces"

In [ ]:
dfAB.to_parquet('API_Business_ETL.parquet', index=False)

-----------

# Concatenar Business - API Business

---------------

In [ ]:
dfBETL = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/Business_ETL.parquet')

In [ ]:
dfBETL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   3655 non-null   object
 1   name          3655 non-null   object
 2   address       3655 non-null   object
 3   city          3655 non-null   object
 4   state         3655 non-null   object
 5   postal_code   3655 non-null   object
 6   latitude      3655 non-null   float64
 7   longitude     3655 non-null   float64
 8   rating        3655 non-null   float32
 9   review_count  3655 non-null   int32
 10  categories    3655 non-null   object
dtypes: float32(1), float64(2), int32(1), object(7)
memory usage: 285.7+ KB

In [ ]:
dfBETL.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,rating,review_count,categories
0,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,"Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re..."
1,lk9IwjZXqUMqqOhM774DtQ,Caviar & Bananas,2031 Broadway,Nashville,TN,37203,36.148371,-86.798895,3.5,159,"Coffee & Tea, Restaurants, Wine Bars, Bars, Ni..."
2,7clCBgNbd-x2Wj96lZ6Mjw,Bier Brewery and Tap Room,5133 E 65th St,Indianapolis,IN,46220,39.875532,-86.082857,4.5,139,"Food, Beer, Wine & Spirits, Breweries"

In [ ]:
# filtrar business solo en USA
dfBETL = dfBETL[dfBETL['state']!='AB']

In [ ]:
dfBETL = dfBETL[dfBETL['categories'].str.contains('Wine Tasting Room|Wineries')]
dfBETL.reset_index(drop=True, inplace=True)

In [ ]:
dfBETL = dfBETL[['business_id',	'name',	'categories', 'address',	'city',	'state',	'latitude',	'longitude',	'review_count', 'rating']]

In [ ]:
dfBETL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   342 non-null    object
 1   name          342 non-null    object
 2   categories    342 non-null    object
 3   address       342 non-null    object
 4   city          342 non-null    object
 5   state         342 non-null    object
 6   latitude      342 non-null    float64
 7   longitude     342 non-null    float64
 8   review_count  342 non-null    int32
 9   rating        342 non-null    float32
dtypes: float32(1), float64(2), int32(1), object(6)
memory usage: 24.2+ KB

In [ ]:
dfBETL.head(3)

,business_id,name,categories,address,city,state,latitude,longitude,review_count,rating
0,cDekcTE1qwpz8ROlYixhqg,Philly Homebrew Outlet East,"Shopping, Food, Arts & Entertainment, Wholesal...",1447 N American St,Philadelphia,PA,39.973681,-75.139648,32,5.0
1,4FaYG9qKDpDyr68bKmaIEw,Capitol Cellars,"Restaurants, Bars, Wine Bars, American (Tradit...",110 S 5th St,Boise,ID,43.613573,-116.199904,176,4.0
2,-ujBP1Dw0j1-Ffaz97-LXQ,Lama Dog Tap Room,"Beer, Wine & Spirits, Pubs, Arts & Entertainme...",116 Santa Barbara St,Santa Barbara,CA,34.415747,-119.688480,238,4.0

-----------

In [ ]:
dfABETL = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/API_Business_ETL.parquet')

In [ ]:
dfABETL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   business_id        1594 non-null   object
 1   name               1594 non-null   object
 2   address            1576 non-null   object
 3   city               1594 non-null   object
 4   state              1594 non-null   object
 5   postal_code        1594 non-null   object
 6   latitude           1594 non-null   float64
 7   longitude          1594 non-null   float64
 8   rating             1594 non-null   float64
 9   review_count       1594 non-null   int64
 10  categories_string  1594 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 137.1+ KB

In [ ]:
dfABETL.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,rating,review_count,categories_string
0,qJ1kfVLwdTEQ_oRHmfaZaQ,Nine Pin Cider,929 Broadway,Albany,NY,,42.661892,-73.743767,4.5,128,"Breweries, Wine Tasting Room, Cideries"
1,nl8KrEl4H9f1Wm1ry-46zA,Colvin Wine Merchants,900D Central Ave,Albany,NY,,42.679930,-73.792262,4.0,4,Wineries
2,QsBctI8bZlsCFzsSBQoyyg,The Bull and Bee - Meadery & Tasting Room,140 Hamilton St,Albany,NY,,42.647415,-73.757309,5.0,9,"Wine Tasting Room, Meaderies"

In [ ]:
# renombrar categories
dfABETL.rename({'categories_string': 'categories'}, axis=1, inplace=True)

In [ ]:
dfABETL = dfABETL[['business_id',	'name',	'categories', 'address',	'city',	'state',	'latitude',	'longitude',	'review_count', 'rating']]

In [ ]:
dfABETL.head(3)

,business_id,name,categories,address,city,state,latitude,longitude,review_count,rating
0,qJ1kfVLwdTEQ_oRHmfaZaQ,Nine Pin Cider,"Breweries, Wine Tasting Room, Cideries",929 Broadway,Albany,NY,42.661892,-73.743767,128,4.5
1,nl8KrEl4H9f1Wm1ry-46zA,Colvin Wine Merchants,Wineries,900D Central Ave,Albany,NY,42.679930,-73.792262,4,4.0
2,QsBctI8bZlsCFzsSBQoyyg,The Bull and Bee - Meadery & Tasting Room,"Wine Tasting Room, Meaderies",140 Hamilton St,Albany,NY,42.647415,-73.757309,9,5.0

---------

# Get Business Yelp

---------------

In [ ]:
# armar un nuevo dataframe df
df = pd.concat([dfBETL, dfABETL], axis=0, ignore_index=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1936 non-null   object
 1   name          1936 non-null   object
 2   categories    1936 non-null   object
 3   address       1918 non-null   object
 4   city          1936 non-null   object
 5   state         1936 non-null   object
 6   latitude      1936 non-null   float64
 7   longitude     1936 non-null   float64
 8   review_count  1936 non-null   int64
 9   rating        1936 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 151.4+ KB

In [ ]:
# eliminar duplicados
df.drop_duplicates(subset=['business_id'], inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1790 entries, 0 to 1789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1790 non-null   object
 1   name          1790 non-null   object
 2   categories    1790 non-null   object
 3   address       1773 non-null   object
 4   city          1790 non-null   object
 5   state         1790 non-null   object
 6   latitude      1790 non-null   float64
 7   longitude     1790 non-null   float64
 8   review_count  1790 non-null   int64
 9   rating        1790 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 140.0+ KB

In [ ]:
df.sample(5)

,business_id,name,categories,address,city,state,latitude,longitude,review_count,rating
1413,9Zy3xIjY7kyt2mfUKoAz-A,Alpha Omega Collective Paso Robles,"Wine Tasting Room, Wine Bars",739 12th St,Paso Robles,CA,35.626870,-120.690310,4,5.0
1762,bl-TT1u0cP2yfTh7uaL3zw,Wilridge Winery,Wineries,1416 34th Ave,Seattle,WA,47.613468,-122.288986,8,4.5
1415,3yVX5fbpTFij3h4oNKy7mw,Cinquain Cellars,Wineries,6404 Independence Ranch Pl,San Miguel,CA,35.718491,-120.580460,18,5.0
1606,MHRe13uZcVrvbjQaFrb18w,Howell Mountain Vineyards,Wine Tasting Room,400 California Ave,San Francisco,CA,37.818942,-122.368213,1,5.0
1227,EvoxeKMPe1EIGKnwWs5ulw,Smith Devereux Wines,Wineries,1460 First St,Napa,CA,38.297448,-122.289345,1,5.0

In [ ]:
# crear nuevo dataframe Yelp Business - Dataset Final
df.to_parquet('Yelp_Business.parquet', index=False)

-----------------

# API Reviews

-----------------

In [ ]:
dfAR = pd.read_parquet('/content/drive/MyDrive/DataYelpGoogle/Yelp/API_Business.parquet', columns=['business_id', 'reviews'])

In [ ]:
dfAR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  1594 non-null   object
 1   reviews      1594 non-null   object
dtypes: object(2)
memory usage: 25.0+ KB

In [ ]:
dfAR.head(3)

              business_id                                            reviews
0  qJ1kfVLwdTEQ_oRHmfaZaQ  [{'id': '8XceajjIrZxLY4iInVwYZA', 'text': 'Oka...
1  nl8KrEl4H9f1Wm1ry-46zA  [{'id': 'Ulrb-Hp8e5_KqoFehd_xGQ', 'text': 'The...
2  QsBctI8bZlsCFzsSBQoyyg  [{'id': '1dMR8uxvSeFtktWR6ri6PA', 'text': 'Coo...

### extraer datos anidados

In [ ]:
# funcion extraer datos anidados lista de diccionarios
def GetDataListDict(x):
  if pd.isnull(x):
    return np.nan
  else:
    val=ast.literal_eval(x)
    if isinstance(val, list):
      return val
    else:
      return x

In [ ]:
# invocar funcion GetDataListDict
dfAR['reviews'] = dfAR['reviews'].apply(GetDataListDict)

In [ ]:
dfAR['reviews'][100]

[{'id': 'c_gmIqDM4-M0S6FS7Xn4RQ',
  'text': 'Had another great evening here with some live music and a really fun atmosphere!  No food truck on the night we went but they were serving pizzas that...',
  'rating': 5,
  'user': {'id': 'ZVkC8tx3mRezNBuqOgyQRg', 'name': 'Drew B.'}},
 {'id': 'MllflMzmJDOYz1I0QhWB3w',
  'text': "Stopped in here one day with my daughter and enjoyed a bottle of wine on the patio . We haven't been there for quite some time and always enjoyed the patio...",
  'rating': 4,
  'user': {'id': 'BpKWUZHqnyij774f7Q4PEQ', 'name': 'Norma O.'}},
 {'id': '2Y5dgUCFsznjI-na66Smig',
  'text': "Wyandotte winery is a very unique place. I explained it like a hole in a wall to my friend and she couldn't get over it being someone's house. So let me...",
  'rating': 4,
  'user': {'id': '3X32Fogoc9UbCZxpubfXDw', 'name': 'Danielle M.'}}]

In [ ]:
# id review
[dfAR['reviews'][0][i]['id'] for i in range(0,len(dfAR['reviews'][0]))]

['8XceajjIrZxLY4iInVwYZA', 'QVqBdabfJu3rtu-bSKrokQ', 'GAs683P_hsfm-H_c-k3vZQ']

In [ ]:
# text review
[dfAR['reviews'][0][i]['text'] for i in range(0,len(dfAR['reviews'][0]))]

['Okay OBSESSED that they have the option for a cider flight. My absolute favorite part but in strong competition with how delicious their food was! We had...',
 "Great spot. Went over this weekend for the first time since I was in the area. There was a private event outside so didn't get to experience the outdoor...",
 'Ordered a goat cheese and pesto pizza and a Buffalo mac and cheese empanada. Had a standard and a blueberry hard cider. Everything was very good. Nice...']

In [ ]:
# rating review
[dfAR['reviews'][0][i]['rating'] for i in range(0,len(dfAR['reviews'][0]))]

[5, 5, 5]

In [ ]:
# user id review
[dfAR['reviews'][0][i]['user']['id'] for i in range(0,len(dfAR['reviews'][0]))]

['ZVfGfOXYINJCPPy_2sa84A', 'TkF0AEun4ccvALZqX_R-7A', 'SsSsaM8URKx0VAhXDBfXhA']

In [ ]:
# extraer id review
dfAR['review_id'] = dfAR['reviews'].apply(lambda x: [x[i]['id'] for i in range(0,len(x))])

In [ ]:
# extraer text review
dfAR['text'] = dfAR['reviews'].apply(lambda x: [x[i]['text'] for i in range(0,len(x))])

In [ ]:
# extraer rating review
dfAR['rating'] = dfAR['reviews'].apply(lambda x: [x[i]['rating'] for i in range(0,len(x))])

In [ ]:
# extraer user id review
dfAR['user_id'] = dfAR['reviews'].apply(lambda x: [x[i]['user']['id'] for i in range(0,len(x))])

In [ ]:
dfAR.head(3)

,business_id,reviews,review_id,text,rating,user_id
0,qJ1kfVLwdTEQ_oRHmfaZaQ,"[{'id': '8XceajjIrZxLY4iInVwYZA', 'text': 'Oka...","[8XceajjIrZxLY4iInVwYZA, QVqBdabfJu3rtu-bSKrok...",[Okay OBSESSED that they have the option for a...,"[5, 5, 5]","[ZVfGfOXYINJCPPy_2sa84A, TkF0AEun4ccvALZqX_R-7..."
1,nl8KrEl4H9f1Wm1ry-46zA,"[{'id': 'Ulrb-Hp8e5_KqoFehd_xGQ', 'text': 'The...","[Ulrb-Hp8e5_KqoFehd_xGQ, eChVfOxWDmxlt9ZMZHt52...",[There are plenty of places around town to get...,"[5, 5, 5]","[YU8frNuMEW6ErBRSBjQAHw, k7RZ8Qi0BU5syr-_Gvgn9..."
2,QsBctI8bZlsCFzsSBQoyyg,"[{'id': '1dMR8uxvSeFtktWR6ri6PA', 'text': 'Coo...","[1dMR8uxvSeFtktWR6ri6PA, U8NoIuGpH2L6Yrss5IgHK...",[Cool spot! We sampled a variety of meads. The...,"[4, 5, 5]","[8h1r7mXd-H225yDgc4EMPg, ycuqnCfUAbqIbUXZ6JSVa..."

In [ ]:
# algunos negocios tienen menos de 3 reviews
for i in dfAR['review_id']:
  print(i)

In [ ]:
dfAR['reviews'][10]

[{'id': 'BGHIOfk8Qj4xm_X0hG17MA',
  'text': 'We took a road trip to NY to checkout Hudson Berkshire Wine & Food Festival on a whim when we was perusing for things to do around New England on Memorial...',
  'rating': 4,
  'user': {'id': 'N61hkQVfKF0GXP3UIVnbWw', 'name': 'Rosie Q.'}}]

In [ ]:
#df.set_index(['order_id', 'order_date']).apply(lambda x: x.str.split(',').explode()).reset_index()

In [ ]:
df = dfAR.set_index(['business_id']).apply(lambda x: x.explode()).reset_index()

In [ ]:
df = df[['review_id', 'user_id', 'business_id', 'rating', 'text']]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    4359 non-null   object
 1   user_id      4359 non-null   object
 2   business_id  4359 non-null   object
 3   rating       4359 non-null   object
 4   text         4359 non-null   object
dtypes: object(5)
memory usage: 170.4+ KB

In [ ]:
df.head(5)

,review_id,user_id,business_id,rating,text
0,8XceajjIrZxLY4iInVwYZA,ZVfGfOXYINJCPPy_2sa84A,qJ1kfVLwdTEQ_oRHmfaZaQ,5,Okay OBSESSED that they have the option for a ...
1,QVqBdabfJu3rtu-bSKrokQ,TkF0AEun4ccvALZqX_R-7A,qJ1kfVLwdTEQ_oRHmfaZaQ,5,Great spot. Went over this weekend for the fir...
2,GAs683P_hsfm-H_c-k3vZQ,SsSsaM8URKx0VAhXDBfXhA,qJ1kfVLwdTEQ_oRHmfaZaQ,5,Ordered a goat cheese and pesto pizza and a Bu...
3,Ulrb-Hp8e5_KqoFehd_xGQ,YU8frNuMEW6ErBRSBjQAHw,nl8KrEl4H9f1Wm1ry-46zA,5,There are plenty of places around town to get ...
4,eChVfOxWDmxlt9ZMZHt52w,k7RZ8Qi0BU5syr-_Gvgn9g,nl8KrEl4H9f1Wm1ry-46zA,5,"Friendly, helpful, convenient. And anything th..."

In [ ]:
# crear nuevo dataframe Yelp Business - Dataset Final
df.to_parquet('Yelp_Reviews.parquet', index=False)

-------------------

------------

-------------

# check dataset alternativo

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/winemag-data-130k-v2.csv')

In [ ]:
df1 = df1[df1['country']=='US']
df1.reset_index(drop=True, inplace=True)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54504 entries, 0 to 54503
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             54504 non-null  int64
 1   country                54504 non-null  object
 2   description            54504 non-null  object
 3   designation            36908 non-null  object
 4   points                 54504 non-null  int64
 5   price                  54265 non-null  float64
 6   province               54504 non-null  object
 7   region_1               54226 non-null  object
 8   region_2               50511 non-null  object
 9   taster_name            37730 non-null  object
 10  taster_twitter_handle  34741 non-null  object
 11  title                  54504 non-null  object
 12  variety                54504 non-null  object
 13  winery                 54504 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 5.8+ MB

In [ ]:
df1 = df1[['winery', 'province', 'region_1',	'region_2', 'price', 'designation', 'variety', 'taster_name', 'points', 'title', 'description']]

In [ ]:
df1.sample(5)

,winery,province,region_1,region_2,price,designation,variety,taster_name,points,title,description
29940,Acre Twenty-one,Washington,Columbia Valley (WA),Columbia Valley,15.0,NaN,Cabernet Sauvignon,Sean P. Sullivan,83,Acre Twenty-one 2012 Cabernet Sauvignon (Colum...,This Cabernet doesn't seem to have fully ripen...
16343,Andrew Will,Washington,Yakima Valley,Columbia Valley,55.0,Two Blondes Vineyard,Bordeaux-style Red Blend,Paul Gregutt,92,Andrew Will 2010 Two Blondes Vineyard Red (Yak...,"Sophisticated and complex, this terroir-specif..."
26040,Joseph Swan Vineyards,California,Russian River Valley,Sonoma,45.0,Ritchie Vineyard,Chardonnay,Virginie Boone,93,Joseph Swan Vineyards 2012 Ritchie Vineyard Ch...,"Oaky on the nose, with a whiff of caramelized ..."
9481,Tranche,Washington,Walla Walla Valley (WA),Columbia Valley,40.0,Estate,Cabernet Sauvignon,Paul Gregutt,92,Tranche 2007 Estate Cabernet Sauvignon (Walla ...,The first release for Tranche from Blue Mounta...
27400,Gramercy,Washington,Columbia Valley (WA),Columbia Valley,40.0,NaN,Syrah,Sean P. Sullivan,94,Gramercy 2012 Syrah (Columbia Valley (WA)),This wine is a blend of four distinctive sites...

In [ ]:
df1['winery'].nunique()

5375

In [ ]:
df1 = df1[df1['taster_name'].notna()]
df1.reset_index(drop=True, inplace=True)

In [ ]:
df1.shape

(37730, 11)

In [ ]:
df1['winery'].nunique()

4052

In [ ]:
df1['winery'].value_counts()

Chateau Ste. Michelle    194
Columbia Crest           159
Testarossa               112
Maryhill                 102
Chehalem                 101
                        ...
Isenhower                  1
Rickshaw                   1
Prime                      1
Villa Creek                1
Cardinal Rule              1
Name: winery, Length: 4045, dtype: int64

In [ ]:
df1['province'].nunique()

26

In [ ]:
df1['province'].value_counts()

California           20174
Washington            8631
Oregon                5337
New York              2597
Virginia               379
Idaho                  187
Michigan               106
Texas                   85
America                 79
Colorado                46
New Mexico              24
North Carolina          15
Pennsylvania            13
Arizona                 11
Ohio                     8
Washington-Oregon        7
Illinois                 6
New Jersey               5
Missouri                 4
Nevada                   3
Iowa                     3
Vermont                  3
Massachusetts            3
Connecticut              2
Kentucky                 1
Hawaii                   1
Name: province, dtype: int64

In [ ]:
df1 = df1[df1['province']!='America']

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37651 entries, 0 to 37729
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       37651 non-null  object
 1   province     37651 non-null  object
 2   region_1     37472 non-null  object
 3   region_2     34767 non-null  object
 4   price        37432 non-null  float64
 5   designation  26158 non-null  object
 6   variety      37651 non-null  object
 7   taster_name  37651 non-null  object
 8   points       37651 non-null  int64
 9   title        37651 non-null  object
 10  description  37651 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.4+ MB

In [ ]:
df1['taster_name'].nunique()

15

In [ ]:
df1['taster_name'].value_counts()

Virginie Boone        9532
Paul Gregutt          9283
Matt Kettmann         6331
Sean P. Sullivan      4901
Jim Gordon            4173
Anna Lee C. Iijima    2433
Alexander Peartree     409
Susan Kostrzewa        232
Carrie Dykes           139
Joe Czerwinski         103
Michael Schachner       70
Fiona Adams             19
Lauren Buzzeo           19
Christina Pickard        5
Roger Voss               2
Name: taster_name, dtype: int64

In [ ]:
df1[df1['taster_name']=='Virginie Boone']['winery'].nunique()

1559

In [ ]:
df1[df1['taster_name']=='Virginie Boone']['winery'].value_counts()

Williams Selyem          73
Lynmar                   70
Gary Farrell             64
Balletto                 58
Carlisle                 53
                         ..
Billhook                  1
50 Harvests               1
Silver Buckle             1
Housley's Century Oak     1
Cardinal Rule             1
Name: winery, Length: 1559, dtype: int64

In [ ]:
df1[df1['taster_name']=='Paul Gregutt']['winery'].nunique()

978

In [ ]:
df1[df1['taster_name']=='Paul Gregutt']['winery'].value_counts()

Chateau Ste. Michelle          104
Chehalem                        98
Columbia Crest                  88
Willamette Valley Vineyards     82
Adelsheim                       81
                              ...
Townshend                        1
Russell Creek                    1
Isenhower                        1
Reynvaan Family Vineyards        1
Black Magnolia                   1
Name: winery, Length: 978, dtype: int64

In [ ]:
df1[df1['taster_name']=='Matt Kettmann']['winery'].nunique()

844

In [ ]:
df1[df1['taster_name']=='Matt Kettmann']['winery'].value_counts()

Testarossa          110
Fess Parker          76
Foxen                53
Sarah's Vineyard     52
J. Lohr              48
                   ...
Two Arrowheads        1
Toad Hollow           1
Prim Family           1
Hess Select           1
SVI                   1
Name: winery, Length: 844, dtype: int64

In [ ]:
df1['points'].min()

80

In [ ]:
df1['points'].max()

100

In [ ]:
df1.groupby('taster_name')['points'].mean().sort_values(ascending=False)

taster_name
Matt Kettmann         90.008845
Roger Voss            89.500000
Virginie Boone        89.215904
Paul Gregutt          89.076053
Sean P. Sullivan      88.765150
Jim Gordon            88.626647
Anna Lee C. Iijima    87.441430
Fiona Adams           87.157895
Christina Pickard     86.800000
Carrie Dykes          86.395683
Michael Schachner     86.300000
Alexander Peartree    85.848411
Lauren Buzzeo         85.526316
Joe Czerwinski        85.320388
Susan Kostrzewa       84.465517
Name: points, dtype: float64

In [ ]:
dfaux1 = df1.groupby(['winery', 'taster_name'])['title'].count()

In [ ]:
dfaux1.head(50)

winery                    taster_name
100 Percent Wine          Jim Gordon             3
1000 Stories              Jim Gordon             2
10Span                    Matt Kettmann          1
12C Wines                 Virginie Boone         5
14 Hands                  Paul Gregutt          12
                          Sean P. Sullivan      55
1789 Wines                Paul Gregutt           1
18401 Cellars             Sean P. Sullivan       5
1850                      Jim Gordon             2
                          Matt Kettmann          1
2 Lads                    Alexander Peartree     5
21 Grams                  Sean P. Sullivan       2
240 Days                  Anna Lee C. Iijima     3
29 & Oak Wines            Virginie Boone         5
2Hawk                     Paul Gregutt           7
2Plank                    Jim Gordon             3
                          Matt Kettmann          3
3 Badge Beverage          Virginie Boone         1
3 Ball                    Jim Gordon             1
3 Horse Ranch Vineyards   Paul Gregutt           4
                          Sean P. Sullivan      25
3 Steves Winery           Jim Gordon             1
                          Virginie Boone         4
337 Wine Cellars          Jim Gordon             1
3Fools                    Paul Gregutt           3
4 Cellars                 Sean P. Sullivan       3
401K                      Jim Gordon             2
428 Wines                 Paul Gregutt           1
50 Harvests               Virginie Boone         1
6 North                   Virginie Boone         2
6 Under                   Sean P. Sullivan       4
60 North                  Jim Gordon             1
60 Souls                  Paul Gregutt           1
75 Wine Co.               Jim Gordon             1
786 Wines                 Jim Gordon             3
:Nota Bene                Paul Gregutt          30
                          Sean P. Sullivan      33
A Blooming Hill Vineyard  Paul Gregutt           9
A to Z                    Paul Gregutt          30
A.P. Vin                  Virginie Boone         2
AVA Grace Vineyards       Jim Gordon             4
Aaron                     Matt Kettmann          2
Abacela                   Paul Gregutt          65
                          Sean P. Sullivan      11
Abbey Creek               Paul Gregutt           1
Abbeyville                Jim Gordon             1
                          Virginie Boone         1
Abbot's Passage           Virginie Boone         2
Abeja                     Paul Gregutt          20
                          Sean P. Sullivan       8
Name: title, dtype: int64

In [ ]:
dfaux2 = df1.groupby(['taster_name', 'winery'])['title'].count()

In [ ]:
dfaux2.info()

<class 'pandas.core.series.Series'>
MultiIndex: 5257 entries, ('Alexander Peartree', '2 Lads') to ('Virginie Boone', 'un4seen')
Series name: title
Non-Null Count  Dtype
--------------  -----
5257 non-null   int64
dtypes: int64(1)
memory usage: 88.8+ KB

In [ ]:
dfaux2.head(50)

taster_name         winery
Alexander Peartree  2 Lads                     5
                    Anemoi                     5
                    Annefield Vineyards        4
                    Arché                      3
                    Becker                     5
                    Bel Lago                   6
                    Bending Branch             4
                    Black Star Farms           6
                    Blustone                   4
                    Bogati                     2
                    Bowers Harbor              7
                    Brengman Brothers          4
                    Brennan                   13
                    Brys                       4
                    Canyon Wind                5
                    Carlson Creek              2
                    Casanel                    4
                    Catoctin Creek             1
                    Chateau Chantal            1
                    Chateau Grand Traverse     4
                    Chateau Morrisette         2
                    Chatham                    4
                    City Winery Chicago        1
                    Creekside Cellars          4
                    CrossKeys                  2
                    Delfosse                   1
                    Doukénie                   4
                    Dry Mill                   2
                    DuCard                     4
                    Duchman Family             5
                    Early Mountain             5
                    Fabbioli Cellars           4
                    Fall Creek                 5
                    Fiesta Winery              2
                    First Colony               1
                    Flying Leap                3
                    Fox Meadow                 2
                    Gill's Pier                2
                    Good Harbor                2
                    Grace Estate               1
                    Grande River               2
                    Gray Ghost                 1
                    Gruet                      1
                    Haak                       8
                    Hawthorne                  4
                    Heritage                   1
                    Horton                    11
                    Illinois Sparkling Co.     6
                    Ingleside                  5
                    James Charles              3
Name: title, dtype: int64

In [ ]:
dfaux2.loc['Virginie Boone'].sort_values(ascending=False).head(50)

winery
Williams Selyem          73
Lynmar                   70
Gary Farrell             64
Balletto                 58
Carlisle                 53
Iron Horse               50
Sojourn                  50
V. Sattui                47
Rodney Strong            46
Buena Vista              45
Kunde                    42
Duckhorn                 42
Dutton-Goldfield         41
Marimar Estate           40
Terre Rouge              40
Robert Biale             40
Kokomo                   40
Gloria Ferrer            39
Quivira                  37
Black Stallion           36
St. Francis              36
Fenestra                 35
Martin Ray               35
Pride Mountain           35
J Vineyards & Winery     34
Rock Wall                34
Dry Creek Vineyard       34
Grgich Hills             33
Wellington               33
Robert Mondavi           33
MacRostie                32
Siduri                   32
Merry Edwards            32
Frank Family             32
Saintsbury               32
Mumm Napa                31
Flora Springs            30
Kirkland Signature       30
MacPhail                 30
Joseph Swan Vineyards    30
Patz & Hall              30
Acacia                   30
Raymond                  30
En Garde                 30
Ramey                    30
Amici                    29
Davis Family             29
Joseph Phelps            28
Hall                     27
Kenwood                  27
Name: title, dtype: int64

-------------

-----------

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/winemag-data_first150k.csv')

In [ ]:
df2 = df2[df2['country']=='US']
df2.reset_index(drop=True, inplace=True)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62397 entries, 0 to 62396
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   62397 non-null  int64
 1   country      62397 non-null  object
 2   description  62397 non-null  object
 3   designation  40345 non-null  object
 4   points       62397 non-null  int64
 5   price        62139 non-null  float64
 6   province     62397 non-null  object
 7   region_1     62261 non-null  object
 8   region_2     60953 non-null  object
 9   variety      62397 non-null  object
 10  winery       62397 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 5.2+ MB

In [ ]:
df2.sample(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
2662,6344,US,"The winery's entry-level bottling, this offers...",NaN,88,30.0,California,Santa Barbara County,Central Coast,Pinot Noir,Rusack
28327,69018,US,The flagship of Krug's new Limited Release off...,Limited Release IX Clones,93,80.0,California,Napa Valley,Napa,Cabernet Sauvignon,Charles Krug
60285,145962,US,"Earthy, meaty and spicy-it's what Napa Caberne...",NaN,93,100.0,California,Napa Valley,Napa,Cabernet Sauvignon,Far Niente

In [ ]:
df2['winery'].nunique()

4761